# Hardhat Configuration
PRIVATE_KEY=18f5e2e1ad41a5ac675c636ac2cfaa8f7f50573d0692e51eba36a56c58c00f29
MAINNET_RPC_URL=your_mainnet_rpc_url_here
PLUME_RPC_URL=https://rpc.plume.org

# Frontend Configuration (create this in frontend/.env)
REACT_APP_CONTRACT_ADDRESS=0xa7A4aE166be79337D7206218EdC50E9546aA1973
REACT_APP_RPC_URL=https://rpc.plume.org
REACT_APP_X_API_KEY=your_moralis_api_key_here 